#container{
  display: flex;
  justify-content: space-evenly;
}

#image, #buttons{
  width: 48vw;
  height: 30vw;
  background: red;
}

#buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  ion-button{
    height: 35%;
  }
}