<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Downloader songs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-item>
      <ion-input
        label="Link for download:"
        placeholder="Here"
        [(ngModel)]="linkVideo">
      </ion-input>
    </ion-item>
  </ion-card>

  <!-- Mostrar el enlace ingresado -->
  <div id="container" *ngIf="linkVideo">
    <ion-card id="image"></ion-card>
    <ion-card id="buttons">
      <ion-button (click)="downloadMP3()">Download MP3</ion-button>
      <ion-button (click)="downloadMP4()">Download MP4</ion-button>
    </ion-card>
  </div>
</ion-content>
